In [2]:
import pandas as pd

data_cars = pd.read_csv('/Users/panoskolyvakis/PythonForData/another_exercise.csv')

data_cars.head()

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

In [3]:
data_cars.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [4]:
cols = list(data_cars.columns)

for c in cols:
    sum = data_cars[c].nunique()
    datatype = data_cars[c].dtype
    print('{} items in {}. datatype is {}'.format(sum , c , datatype))

18 items in model. datatype is object
23 items in year. datatype is int64
2114 items in price. datatype is int64
4 items in transmission. datatype is object
5699 items in mileage. datatype is int64
4 items in fuelType. datatype is object
29 items in tax. datatype is int64
81 items in mpg. datatype is float64
16 items in engineSize. datatype is float64

In [13]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler


# perform one-hot encoding on the categorical variables
categorical_vars = ['model', 'transmission', 'fuelType']
categorical_transformed = pd.get_dummies(data_cars[categorical_vars])

# concatenate the encoded categorical variables with the numerical variables
numerical_vars = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
scaled_data = pd.DataFrame(StandardScaler().fit_transform(data_cars[numerical_vars]))
scaled_data.columns = numerical_vars
x_processed = pd.concat([categorical_transformed, scaled_data], axis=1 )

x_processed.head()

print(x_processed.columns)

Index(['model_ Auris', 'model_ Avensis', 'model_ Aygo', 'model_ C-HR',
       'model_ Camry', 'model_ Corolla', 'model_ GT86', 'model_ Hilux',
       'model_ IQ', 'model_ Land Cruiser', 'model_ PROACE VERSO',
       'model_ Prius', 'model_ RAV4', 'model_ Supra', 'model_ Urban Cruiser',
       'model_ Verso', 'model_ Verso-S', 'model_ Yaris',
       'transmission_Automatic', 'transmission_Manual', 'transmission_Other',
       'transmission_Semi-Auto', 'fuelType_Diesel', 'fuelType_Hybrid',
       'fuelType_Other', 'fuelType_Petrol', 'year', 'mileage', 'tax', 'mpg',
       'engineSize'],
      dtype='object')

In [15]:
x_processed.describe()

,model_ Auris,model_ Avensis,model_ Aygo,model_ C-HR,model_ Camry,model_ Corolla,model_ GT86,model_ Hilux,model_ IQ,model_ Land Cruiser,...,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,year,mileage,tax,mpg,engineSize
count,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,...,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6.738000e+03,6.738000e+03,6.738000e+03,6.738000e+03,6.738000e+03
mean,0.105669,0.017067,0.291036,0.071089,0.001633,0.039626,0.010834,0.012763,0.001187,0.007569,...,0.037697,0.074651,0.303206,0.015583,0.606560,-1.750020e-14,7.955115e-17,-1.458861e-15,8.916716e-16,8.270404e-15
std,0.307437,0.129532,0.454274,0.256993,0.040375,0.195093,0.103529,0.112260,0.034439,0.086677,...,0.190476,0.262847,0.459677,0.123866,0.488549,1.000074e+00,1.000074e+00,1.000074e+00,1.000074e+00,1.000074e+00
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-8.506810e+00,-1.195114e+00,-1.281853e+00,-3.804243e+00,-3.373558e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-3.394643e-01,-7.012854e-01,-1.281853e+00,-4.825996e-01,-1.080644e+00
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.142771e-01,-2.271702e-01,5.455513e-01,-1.529618e-02,6.581323e-02
75%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,5.680185e-01,4.291109e-01,6.809145e-01,3.762283e-01,7.536874e-01
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.475501e+00,7.925185e+00,6.366171e+00,1.085898e+01,6.944555e+00

In [16]:
y = data_cars[['price']]

from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(x_processed, y , test_size= 0.2  , random_state= 42)

print(X_train.head())

      model_ Auris  model_ Avensis  model_ Aygo  model_ C-HR  model_ Camry  \
349              0               0            0            0             0
2183             0               0            0            0             0
662              0               0            0            0             0
172              0               0            0            0             0
1372             0               0            0            0             0

      model_ Corolla  model_ GT86  model_ Hilux  model_ IQ  \
349                0            0             0          0
2183               0            0             0          0
662                0            0             0          0
172                1            0             0          0
1372               0            0             0          0

      model_ Land Cruiser  ...  transmission_Semi-Auto  fuelType_Diesel  \
349                     0  ...                       0                1
2183                    0  ...                       0                0
662                     0  ...                       0                0
172                     0  ...                       0                0
1372                    0  ...                       0                0

      fuelType_Hybrid  fuelType_Other  fuelType_Petrol      year   mileage  \
349                 0               0                0 -1.700689  1.174678
2183                0               0                1  1.021760 -0.565958
662                 0               0                1 -0.339464  0.198315
172                 0               0                1  1.021760 -0.672317
1372                0               0                1  1.021760 -0.909034

           tax       mpg  engineSize
349   2.237592 -1.316168    1.670853
2183  0.680915 -0.956218    0.065813
662   1.425412 -1.234074    1.212270
172   0.680915 -1.505615   -0.622061
1372  0.680915 -0.956218    0.065813

[5 rows x 31 columns]

In [39]:
from sklearn.metrics import r2_score, mean_squared_error
def print_metrics( a ,r1 , r2):
    """function returns r2 MSE and RMSE for data arrays supplied"""

    print('{} MSE: {} , rMSE: {} and r2 : {}'.format( a ,round(mean_squared_error(r1 ,r2) ,3), round(mean_squared_error(r1 ,r2)**0.5 ,3),  round(r2_score(r1, r2) ,3 )))

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as MSE
lr = LinearRegression()
lr.fit(X_train , y_train)

y_pred = lr.predict(X_test)

print_metrics('linear Model' , y_test, y_pred)

linear Model MSE: 3125248.251 , rMSE: 1767.837 and r2 : 0.927

31 features are indeed a lot so perhaps trying rigde and lasso regression may be good ideas as regularization methods.

In [53]:
from sklearn.linear_model import Ridge , RidgeCV
from sklearn.metrics import mean_squared_error as mean_squared_error
import numpy as np

ridge_cv = RidgeCV(alphas=np.logspace(-1,1,1))
ridge_cv.fit(X_train , y_train)

ridge_regression = Ridge(alpha = ridge_cv.alpha_)
ridge_regression.fit(X_train, y_train)
y_ridge = ridge_regression.predict(X_test)
print_metrics('Ridge Regression' , y_test , y_ridge)
print(ridge_cv.alpha_)

Ridge Regression MSE: 3125517.572 , rMSE: 1767.913 and r2 : 0.927
0.1

simple model: Decision Tree Regression

In [54]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train , y_train)
y_pred_dt = dt.predict(X_test)

print_metrics('Decision tree regressor' , y_test , y_pred_dt)

Decision tree regressor MSE: 2193368.04 , rMSE: 1481.002 and r2 : 0.948

The decision Tree classifier seems to be working ok so lets try a gradient boosting regressor

In [56]:
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
modelGBR = GradientBoostingRegressor(learning_rate=0.1 , max_depth= 3 , n_estimators= 200 )
modelGBR.fit(X_train , y_train)

y_pred_GBR = modelGBR.predict(X_test)

print_metrics('Gradient boosting regressor' , y_test, y_pred_GBR)

/Users/panoskolyvakis/opt/miniconda3/envs/casestudyenv/lib/python3.10/site-packages/sklearn/ensemble/_gb.py:570: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Gradient boosting regressor MSE: 1286118.219 , rMSE: 1134.072 and r2 : 0.97

optimising the hyperparameters of the gradient boosting regressor

In [58]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

# Define hyperparameters to tune
param_grid = {
    'learning_rate': [0.05, 0.1, 0.15],
    'n_estimators': [50, 100, 150],
    'max_depth': [3, 5, 7],
    'min_samples_split': [2, 4, 6],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2'],
    'subsample': [0.8, 1.0],
    'loss': ['ls', 'lad', 'huber', 'quantile']
}

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(x_processed, y, test_size=0.2, random_state=42)

# Instantiate a gradient boosting regressor
gb = GradientBoostingRegressor()

# Perform grid search
grid_search = GridSearchCV(gb, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2)
grid_search.fit(X_train, y_train)

# Evaluate the best model on the test set
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

Fitting 5 folds for each of 5832 candidates, totalling 29160 fits

In [ ]:
from sklearn.model_selection import KFold , GridSearchCV , cross_val_score

kf= KFold(n_splits =5 , random_state=42)

model